{
    "base_dir": "",
    "music_download_dir": "",
    "concurrent_download_num": 10,
    "music_history_play_list_file":"",
    "proxies": {
        "https": "http://95.217.167.241:8080"
    },
    "headers": {
        "Accept": "application/json, text/plain, */*",
        "Accept-Encoding": "gzip, deflate, br",
        "Accept-Language": "zh-CN,zh;q=0.9,en-US;q=0.8,en;q=0.7",
        "Connection": "keep-alive",
        "Cookie": "_ga=GA1.2.1032107695.1686275033; Hm_lvt_cdb524f42f0ce19b169a8071123a4797=1689907009; Hm_lpvt_cdb524f42f0ce19b169a8071123a4797=1689907009; _gid=GA1.2.2114749439.1689907009; _gat=1; Hm_Iuvt_cdb524f42f0ce19b169b8072123a4727=ycRtkxQADKs7ywCfcCzSGYnzxQRJTGya; _ga_ETPBRPM9ML=GS1.2.1689907011.4.1.1689907030.41.0.0",
        "DNT": "1",
        "Host": "kuwo.cn",
        "Referer": "https://kuwo.cn/search/list?key=%E7%AC%BC",
        "Sec-Fetch-Dest": "empty",
        "Sec-Fetch-Mode": "cors",
        "Sec-Fetch-Site": "same-origin",
        "Secret": "273f281891fcbc48fa709e77dd91da9b5ef683dbfab452f1002d5e9bf0fe6e5a023e9d51",
        "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36",
        "sec-ch-ua": "\"Not.A/Brand\";v=\"8\", \"Chromium\";v=\"114\", \"Google Chrome\";v=\"114\"",
        "sec-ch-ua-mobile": "?0",
        "sec-ch-ua-platform": "\"macOS\""
    }
}